.fishList {
    display: flex;
    justify-content: space-around;   
}

.fish__image {
    width: 15rem;
    height: 15rem;
}

.fish__name {
    text-align: center;
    font-weight: 500;
}

button {
    padding: 3px;
}

