@import "nav.css";
@import "fish.css";
@import "tips.css";
@import "location.css";


body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    flex-wrap: wrap;
}

body {
    background: url(https://i.ebayimg.com/images/g/OLsAAOSwmLlX4ZjD/s-l500.jpg) no-repeat center fixed;  
    background-size: cover;
}

.PageTitle {
    text-align: center;
    font-size: 40px;
    margin: 2px;
    padding: 2px;
}

